<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496974152939-qmjen5d9c84gt9ugamhjopun9d8c5o85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496974152939-qmjen5d9c84gt9ugamhjopun9d8c5o85</string>
	<key>API_KEY</key>
	<string>AIzaSyBsFhpLy6NgRLLFpQaNsT8FWIUcKIuXtZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>496974152939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eliasschneider.gymkirchenfeld</string>
	<key>PROJECT_ID</key>
	<string>gymkirchenfeld-aa1cb</string>
	<key>STORAGE_BUCKET</key>
	<string>gymkirchenfeld-aa1cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496974152939:ios:1310ead8d89a668a2e6aae</string>
</dict>
</plist>