<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gymkirchenfeld.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EC05286A792DC5845AF88C2B62FEF3AE0EDD42D0</string>
				<key>dateExpires</key>
				<string>17.12.21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EC05286A792DC5845AF88C2B62FEF3AE0EDD42D0</string>
						<key>dateExpires</key>
						<string>17.12.21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TR698RD6T7</string>
						<key>name</key>
						<string>Elias Schneider</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EC05286A792DC5845AF88C2B62FEF3AE0EDD42D0</string>
						<key>dateExpires</key>
						<string>17.12.21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TR698RD6T7</string>
						<key>name</key>
						<string>Elias Schneider</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EC05286A792DC5845AF88C2B62FEF3AE0EDD42D0</string>
						<key>dateExpires</key>
						<string>17.12.21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TR698RD6T7</string>
						<key>name</key>
						<string>Elias Schneider</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EC05286A792DC5845AF88C2B62FEF3AE0EDD42D0</string>
						<key>dateExpires</key>
						<string>17.12.21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TR698RD6T7</string>
						<key>name</key>
						<string>Elias Schneider</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EC05286A792DC5845AF88C2B62FEF3AE0EDD42D0</string>
						<key>dateExpires</key>
						<string>17.12.21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TR698RD6T7</string>
						<key>name</key>
						<string>Elias Schneider</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EC05286A792DC5845AF88C2B62FEF3AE0EDD42D0</string>
						<key>dateExpires</key>
						<string>17.12.21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TR698RD6T7</string>
						<key>name</key>
						<string>Elias Schneider</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EC05286A792DC5845AF88C2B62FEF3AE0EDD42D0</string>
						<key>dateExpires</key>
						<string>17.12.21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TR698RD6T7</string>
						<key>name</key>
						<string>Elias Schneider</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EC05286A792DC5845AF88C2B62FEF3AE0EDD42D0</string>
						<key>dateExpires</key>
						<string>17.12.21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TR698RD6T7</string>
						<key>name</key>
						<string>Elias Schneider</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EC05286A792DC5845AF88C2B62FEF3AE0EDD42D0</string>
						<key>dateExpires</key>
						<string>17.12.21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TR698RD6T7</string>
						<key>name</key>
						<string>Elias Schneider</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TR698RD6T7.com.eliasschneider.gymkirchenfeld</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TR698RD6T7</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>667461ae-fc97-415b-9095-32f065a1a31a</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.eliasschneider.gymkirchenfeld</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TR698RD6T7</string>
				<key>name</key>
				<string>Elias Schneider</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
